//widescreen
@include mediaXl {
  .project-div {
    grid-template-columns: repeat(4, 1fr);
  }
}

//desktop & laptops
@include mediaLg {
  .project-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

//tablets & small laptops
@include mediaMd {
  .overlay {
    opacity: 1 !important;
  }
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 3rem !important;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  ul.menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 1.5rem;
  }

  div.menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);

    .branding-pix {
      margin-left: 8%;
      width: 50% !important;
      height: 50% !important;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'career1'
      'career2'
      'career3'
      'favorite';
    grid-template-columns: 1fr;
  }
  .project-div {
    grid-template-columns: repeat(2, 1fr);
  }

  .tech-stack,
  #client-list {
    list-style: none;
  }
}

//smartphones
@include mediaSm {
  main {
    align-items: center;
    text-align: center;
  }

  main#home h1 {
    margin-top: 10vh;
  }

  .project-div {
    grid-template-columns: 1fr;
  }

  .tech-stack,
  #client-list {
    list-style: none;
    text-decoration: none;
  }
}
